<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<!-- 设置驼峰写法 -->
  	<settings>
  		<setting name="mapUnderscoreToCamelCase" value="true"/>
  	</settings>
  	
  	
  	<!-- 配置别名 -->
  	<typeAliases>
  		<package name="com.atguigu.crud.bean"/>
  	</typeAliases>
  	
  	
  	
  	<plugins>
  	<plugin interceptor="com.github.pagehelper.PageInterceptor">
  		<property name="reasonable" value="true"/><!-- 配置了这个以后，就不会出现超过了总页数还会再+1的清空，用在分页导航条 -->
  	
  	</plugin>
  	</plugins>
  	
  	
  	
  	
  	
  </configuration>

